<a href="https://colab.research.google.com/github/ShruthiRamesh02/Python/blob/main/CodeBasics_ioPython_Excercises_Lists_Shruthi_T_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

In [4]:
expenses = [2200, 2350, 2600, 2130, 2190]

first_quarter_total = sum(expenses[:3])

total_expenses = sum(expenses)

months_above_2300 = [month for month, expense in enumerate(expenses, start=1) if expense > 2300]

spent_2000 = any(expense == 2000 for expense in expenses)

print(f"1. Total expenses for the first quarter: {first_quarter_total}")
print(f"2. Total expenses for all months: {total_expenses}")
print(f"3. Months with expenses greater than 2300: {months_above_2300}")
print(f"4. Did you spend exactly 2000 in any month? {'Yes' if spent_2000 else 'No'}")

1. Total expenses for the first quarter: 7150
2. Total expenses for all months: 11470
3. Months with expenses greater than 2300: [2, 3]
4. Did you spend exactly 2000 in any month? No

2.You have a list of your favourite marvel super heros.

In [5]:
favorite_marvel_superheroes = ["Spider-Man", "Iron Man", "Black Panther", "Thor", "Captain America"]
print(favorite_marvel_superheroes)

['Spider-Man', 'Iron Man', 'Black Panther', 'Thor', 'Captain America']