<a href="https://colab.research.google.com/github/ShruthiRamesh02/Python/blob/main/CodeBasics_ioPython_Excercises_Strings_Shruthi_T_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [2]:
street = "Maneeya Ville Main Street"
city = "Bangkok"
country = "Thailand"

address_concatenation = street + "\n" + city + "\n" + country
print(address_concatenation)

Maneeya Ville Main Street
Bangkok
Thailand

2.Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [3]:
sentence = "Earth revolves around the sun"

revolves = sentence[6:14]
print(revolves)

sun = sentence[-3:]
print(sun)

revolves
sun

3.Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [4]:
vegetables_eaten = 3
fruits_eaten = 2

print(f"I eat {vegetables_eaten} veggies and {fruits_eaten} fruits daily.")

I eat 3 veggies and 2 fruits daily.

4.I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [5]:
s = 'maine 200 banana khaye'
corrected_s = s.replace('200', '10').replace('banana', 'samosa')
print(corrected_s)

maine 10 samosa khaye