<a href="https://colab.research.google.com/github/ShruthiRamesh02/Python/blob/main/CodeBasics_ioPython_Excercises_Numbers_Shruthi_T_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [2]:
length = 92.0
width = 48.8

total_area = length * width

print("The total area of the football field is", total_area, "square meters")

The total area of the football field is 4489.599999999999 square meters

2.You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [3]:
cost_per_packet = 1.49
packets_bought = 9

total_cost = cost_per_packet * packets_bought

amount_given = 20.0

change = amount_given - total_cost

print("The shopkeeper will give you back", change, "dollars")

The shopkeeper will give you back 6.59 dollars

3.You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [4]:
side_length = 5.5

area = side_length ** 2

cost_per_square_foot = 500

total_cost = area * cost_per_square_foot

print("The total cost to replace all the tiles is", total_cost, "rupees")

The total cost to replace all the tiles is 15125.0 rupees

4.Print binary representation of number 17

In [1]:
"10001."

'10001.'