<a href="https://colab.research.google.com/github/ShruthiRamesh02/Python/blob/main/Python_Pandas_Shruthi_T_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Import the pandas library, import the absenteeism dataset(provided) and assign it to “df”, and find out the “type” of the dataset.

Expected output:
   ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
0  11                  26  ...               30                          4
1  36                   0  ...               31                          0
2   3                  23  ...               31                          2
3   7                   7  ...               24                          4
4  11                  23  ...               30                          2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from google.colab import files
uploaded=files.upload()

Saving Copy of 2185350-Absenteeism_at_work.xls to Copy of 2185350-Absenteeism_at_work.xls

In [5]:
df = pd.read_excel('/content/Copy of 2185350-Absenteeism_at_work.xls')
df

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

In [7]:
import pandas as pd

# Assuming the dataset file is named "absenteeism_dataset.csv"
# Adjust the file path accordingly if needed
file_path = '/content/Copy of 2185350-Absenteeism_at_work.xls'

# Read the dataset into a DataFrame
df = pd.read_excel('/content/Copy of 2185350-Absenteeism_at_work.xls')

# Display the first 5 rows of the DataFrame
print(df.head())

# Display the type of the DataFrame
print(type(df))

   ID  Reason for absence  Month of absence  Day of the week  Seasons  \
0  11                  26                 7                3        1
1  36                   0                 7                3        1
2   3                  23                 7                4        1
3   7                   7                 7                5        1
4  11                  23                 7                5        1

   Transportation expense  Distance from Residence to Work  Service time  Age  \
0                     289                               36            13   33
1                     118                               13            18   50
2                     179                               51            18   38
3                     279                                5            14   39
4                     289                               36            13   33

   Work load Average/day   ...  Disciplinary failure  Education  Son  \
0                  239554  ...                     0          1    2
1                  239554  ...                     1          1    1
2                  239554  ...                     0          1    0
3                  239554  ...                     0          1    2
4                  239554  ...                     0          1    2

   Social drinker  Social smoker  Pet  Weight  Height  Body mass index  \
0               1              0    1      90     172               30
1               1              0    0      98     178               31
2               1              0    0      89     170               31
3               1              1    0      68     168               24
4               1              0    1      90     172               30

   Absenteeism time in hours
0                          4
1                          0
2                          2
3                          4
4                          2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>

2.Find the info of the data set.

Expected output:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    object
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(20), object(1)
memory usage: 121.5+ KB
None```

In [8]:
import pandas as pd

# Assuming the dataset file is named "absenteeism_dataset.csv"
# Adjust the file path accordingly if needed
file_path = '/content/Copy of 2185350-Absenteeism_at_work.xls'

# Read the dataset into a DataFrame
df = pd.read_excel('/content/Copy of 2185350-Absenteeism_at_work.xls')

# Display the info of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    int64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(21)
memory usage: 121.5 KB
None

3.Drop the age column. And save it back to “df”

In [13]:
df

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,26,7,3,1,289,36,13,33,239554,97,0,1,2,1,0,1,90,172,30,4
1,0,7,3,1,118,13,18,50,239554,97,1,1,1,1,0,0,98,178,31,0
2,23,7,4,1,179,51,18,38,239554,97,0,1,0,1,0,0,89,170,31,2
3,7,7,5,1,279,5,14,39,239554,97,0,1,2,1,1,0,68,168,24,4
4,23,7,5,1,289,36,13,33,239554,97,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,14,7,3,1,289,36,13,33,264604,93,0,1,2,1,0,1,90,172,30,8
736,11,7,3,1,235,11,14,37,264604,93,0,3,1,0,0,1,88,172,29,4
737,0,0,3,1,118,14,13,40,271219,95,0,1,1,1,0,8,98,170,34,0
738,0,0,4,2,231,35,14,39,271219,95,0,1,2,1,0,2,100,170,35,0
739,0,0,6,3,179,45,14,53,271219,95,0,1,1,0,0,1,77,175,25,0

In [17]:
import pandas as pd
df = pd.read_excel('/content/Copy of 2185350-Absenteeism_at_work.xls')
df
df = df.drop('Age', axis=1)
df

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,239554,97,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,239554,97,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,239554,97,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,239554,97,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,239554,97,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,264604,93,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,264604,93,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,271219,95,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,271219,95,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,271219,95,0,1,1,0,0,1,77,175,25,0

4.What are the smallest and largest values of the column “reason for absence”.

In [18]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'ID': [11, 36, 3, 7, 11],
                   'Reason for absence': [26, 0, 23, 7, 23],
                   'Body mass index': [30, 31, 31, 24, 30],
                   'Absenteeism time in hours': [4, 0, 2, 4, 2]})

# Find the smallest and largest values of the 'reason for absence' column
smallest_value = df['Reason for absence'].min()
largest_value = df['Reason for absence'].max()

# Print the smallest and largest values
print('Smallest value of the column "reason for absence":', smallest_value)
print('Largest value of the column "reason for absence":', largest_value)

Smallest value of the column "reason for absence": 0
Largest value of the column "reason for absence": 26

5.Create dummy variables for reason of absence and save it into a new variable df_dummy_var.

In [19]:
import pandas as pd
df = pd.read_excel('/content/Copy of 2185350-Absenteeism_at_work.xls')
df
# Create dummy variables for the 'Reason for absence' column
df_dummy_var = pd.get_dummies(df, columns=['Reason for absence'], prefix='Reason for absence')

# Display the first few rows of df_dummy_var
print(df_dummy_var.head())

   ID  Month of absence  Day of the week  Seasons  Transportation expense  \
0  11                 7                3        1                     289
1  36                 7                3        1                     118
2   3                 7                4        1                     179
3   7                 7                5        1                     279
4  11                 7                5        1                     289

   Distance from Residence to Work  Service time  Age  Work load Average/day   \
0                               36            13   33                  239554
1                               13            18   50                  239554
2                               51            18   38                  239554
3                                5            14   39                  239554
4                               36            13   33                  239554

   Hit target  ...  Reason for absence_18  Reason for absence_19  \
0          97  ...                      0                      0
1          97  ...                      0                      0
2          97  ...                      0                      0
3          97  ...                      0                      0
4          97  ...                      0                      0

   Reason for absence_21  Reason for absence_22  Reason for absence_23  \
0                      0                      0                      0
1                      0                      0                      0
2                      0                      0                      1
3                      0                      0                      0
4                      0                      0                      1

   Reason for absence_24  Reason for absence_25  Reason for absence_26  \
0                      0                      0                      1
1                      0                      0                      0
2                      0                      0                      0
3                      0                      0                      0
4                      0                      0                      0

   Reason for absence_27  Reason for absence_28
0                      0                      0
1                      0                      0
2                      0                      0
3                      0                      0
4                      0                      0

[5 rows x 48 columns]

6.Print the columns of the dummy variables


Expected output:
Index(['ID', 'Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 'Reason for absence_0',
       'Reason for absence_1', 'Reason for absence_2', 'Reason for absence_3',
       'Reason for absence_4', 'Reason for absence_5', 'Reason for absence_6',
       'Reason for absence_7', 'Reason for absence_8', 'Reason for absence_9',
       'Reason for absence_10', 'Reason for absence_11',
       'Reason for absence_12', 'Reason for absence_13',
...            ....                     ......             .......
...            ....                     ......             ....

In [20]:
import pandas as pd
df = pd.read_excel('/content/Copy of 2185350-Absenteeism_at_work.xls')
df
print(df_dummy_var.columns)

Index(['ID', 'Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 'Reason for absence_0',
       'Reason for absence_1', 'Reason for absence_2', 'Reason for absence_3',
       'Reason for absence_4', 'Reason for absence_5', 'Reason for absence_6',
       'Reason for absence_7', 'Reason for absence_8', 'Reason for absence_9',
       'Reason for absence_10', 'Reason for absence_11',
       'Reason for absence_12', 'Reason for absence_13',
       'Reason for absence_14', 'Reason for absence_15',
       'Reason for absence_16', 'Reason for absence_17',
       'Reason for absence_18', 'Reason for absence_19',
       'Reason for absence_21', 'Reason for absence_22',
       'Reason for absence_23', 'Reason for absence_24',
       'Reason for absence_25', 'Reason for absence_26',
       'Reason for absence_27', 'Reason for absence_28'],
      dtype='object')

In [ ]:
7.Calculate measures of central tendency use describe

In [21]:
central_tendency = df.describe()
print(central_tendency)

               ID  Reason for absence  Month of absence  Day of the week  \
count  740.000000          740.000000        740.000000       740.000000
mean    18.017568           19.216216          6.324324         3.914865
std     11.021247            8.433406          3.436287         1.421675
min      1.000000            0.000000          0.000000         2.000000
25%      9.000000           13.000000          3.000000         3.000000
50%     18.000000           23.000000          6.000000         4.000000
75%     28.000000           26.000000          9.000000         5.000000
max     36.000000           28.000000         12.000000         6.000000

          Seasons  Transportation expense  Distance from Residence to Work  \
count  740.000000              740.000000                       740.000000
mean     2.544595              221.329730                        29.631081
std      1.111831               66.952223                        14.836788
min      1.000000              118.000000                         5.000000
25%      2.000000              179.000000                        16.000000
50%      3.000000              225.000000                        26.000000
75%      4.000000              260.000000                        50.000000
max      4.000000              388.000000                        52.000000

       Service time         Age  Work load Average/day   ...  \
count    740.000000  740.000000              740.000000  ...
mean      12.554054   36.450000           271490.235135  ...
std        4.384873    6.478772            39058.116188  ...
min        1.000000   27.000000           205917.000000  ...
25%        9.000000   31.000000           244387.000000  ...
50%       13.000000   37.000000           264249.000000  ...
75%       16.000000   40.000000           294217.000000  ...
max       29.000000   58.000000           378884.000000  ...

       Disciplinary failure   Education         Son  Social drinker  \
count            740.000000  740.000000  740.000000      740.000000
mean               0.054054    1.291892    1.018919        0.567568
std                0.226277    0.673238    1.098489        0.495749
min                0.000000    1.000000    0.000000        0.000000
25%                0.000000    1.000000    0.000000        0.000000
50%                0.000000    1.000000    1.000000        1.000000
75%                0.000000    1.000000    2.000000        1.000000
max                1.000000    4.000000    4.000000        1.000000

       Social smoker         Pet      Weight      Height  Body mass index  \
count     740.000000  740.000000  740.000000  740.000000       740.000000
mean        0.072973    0.745946   79.035135  172.114865        26.677027
std         0.260268    1.318258   12.883211    6.034995         4.285452
min         0.000000    0.000000   56.000000  163.000000        19.000000
25%         0.000000    0.000000   69.000000  169.000000        24.000000
50%         0.000000    0.000000   83.000000  170.000000        25.000000
75%         0.000000    1.000000   89.000000  172.000000        31.000000
max         1.000000    8.000000  108.000000  196.000000        38.000000

       Absenteeism time in hours
count                 740.000000
mean                    6.924324
std                    13.330998
min                     0.000000
25%                     2.000000
50%                     3.000000
75%                     8.000000
max                   120.000000

[8 rows x 21 columns]

8.calculate mean

In [22]:
# Calculate mean
mean_values = df.mean()
print(mean_values)

ID                                     18.017568
Reason for absence                     19.216216
Month of absence                        6.324324
Day of the week                         3.914865
Seasons                                 2.544595
Transportation expense                221.329730
Distance from Residence to Work        29.631081
Service time                           12.554054
Age                                    36.450000
Work load Average/day              271490.235135
Hit target                             94.587838
Disciplinary failure                    0.054054
Education                               1.291892
Son                                     1.018919
Social drinker                          0.567568
Social smoker                           0.072973
Pet                                     0.745946
Weight                                 79.035135
Height                                172.114865
Body mass index                        26.677027
Absenteeism time in hours               6.924324
dtype: float64

9.Calculate median

In [23]:
# Calculate median
median_values = df.median()
print(median_values)

ID                                     18.0
Reason for absence                     23.0
Month of absence                        6.0
Day of the week                         4.0
Seasons                                 3.0
Transportation expense                225.0
Distance from Residence to Work        26.0
Service time                           13.0
Age                                    37.0
Work load Average/day              264249.0
Hit target                             95.0
Disciplinary failure                    0.0
Education                               1.0
Son                                     1.0
Social drinker                          1.0
Social smoker                           0.0
Pet                                     0.0
Weight                                 83.0
Height                                170.0
Body mass index                        25.0
Absenteeism time in hours               3.0
dtype: float64

10.Calculate mode

In [24]:
# Calculate mode
mode_values = df.mode().iloc[0]
print(mode_values)

ID                                      3
Reason for absence                     23
Month of absence                        3
Day of the week                         2
Seasons                                 4
Transportation expense                179
Distance from Residence to Work        26
Service time                           18
Age                                    28
Work load Average/day              222196
Hit target                             93
Disciplinary failure                    0
Education                               1
Son                                     0
Social drinker                          1
Social smoker                           0
Pet                                     0
Weight                                 89
Height                                170
Body mass index                        31
Absenteeism time in hours               8
Name: 0, dtype: int64

11.Calculate standard deviation

In [25]:
# Calculate standard deviation
std_values = df.std()
print(std_values)

ID                                    11.021247
Reason for absence                     8.433406
Month of absence                       3.436287
Day of the week                        1.421675
Seasons                                1.111831
Transportation expense                66.952223
Distance from Residence to Work       14.836788
Service time                           4.384873
Age                                    6.478772
Work load Average/day              39058.116188
Hit target                             3.779313
Disciplinary failure                   0.226277
Education                              0.673238
Son                                    1.098489
Social drinker                         0.495749
Social smoker                          0.260268
Pet                                    1.318258
Weight                                12.883211
Height                                 6.034995
Body mass index                        4.285452
Absenteeism time in hours             13.330998
dtype: float64

12.Please convert BMI column into categories. For example, if BMI is < 19.5 code it as under weight, if weight is >= 19.5 and <= 25 code it as normal weight, if weight is >25 and <=30 code it as overweight and >30 code it as Obese.

In [26]:
# Define function to categorize BMI
def categorize_bmi(bmi):
    if bmi < 19.5:
        return 'Underweight'
    elif 19.5 <= bmi <= 25:
        return 'Normal weight'
    elif 25 < bmi <= 30:
        return 'Overweight'
    else:
        return 'Obese'

# Apply the function to create a new column 'BMI categories'
df['BMI categories'] = df['Body mass index'].apply(categorize_bmi)
print(df.head())

   ID  Reason for absence  Month of absence  Day of the week  Seasons  \
0  11                  26                 7                3        1
1  36                   0                 7                3        1
2   3                  23                 7                4        1
3   7                   7                 7                5        1
4  11                  23                 7                5        1

   Transportation expense  Distance from Residence to Work  Service time  Age  \
0                     289                               36            13   33
1                     118                               13            18   50
2                     179                               51            18   38
3                     279                                5            14   39
4                     289                               36            13   33

   Work load Average/day   ...  Education  Son  Social drinker  Social smoker  \
0                  239554  ...          1    2               1              0
1                  239554  ...          1    1               1              0
2                  239554  ...          1    0               1              0
3                  239554  ...          1    2               1              1
4                  239554  ...          1    2               1              0

   Pet  Weight  Height  Body mass index  Absenteeism time in hours  \
0    1      90     172               30                          4
1    0      98     178               31                          0
2    0      89     170               31                          2
3    0      68     168               24                          4
4    1      90     172               30                          2

   BMI categories
0      Overweight
1           Obese
2           Obese
3   Normal weight
4      Overweight

[5 rows x 22 columns]

13.Please determine which season had more absences in a given absenteeism dataset? Please tell us the name of season not number

In [27]:
# Group by season and sum the absences
season_absences = df.groupby('Seasons')['Absenteeism time in hours'].sum()

# Find the season with the most absences
most_absent_season = season_absences.idxmax()

# Convert season number to season name
season_names = {1: 'Summer', 2: 'Autumn', 3: 'Winter', 4: 'Spring'}
most_absent_season_name = season_names[most_absent_season]

print(season_absences)
print(f'The season with the most absences was {most_absent_season_name}')

Seasons
1    1241
2    1152
3    1492
4    1239
Name: Absenteeism time in hours, dtype: int64
The season with the most absences was Winter

14.Note:Use 8th and 9th solutions in order to get the required output
Please determine which type of weight (overweight, normal weight, obese etc) had more absences in a given absenteeism dataset? Please tell the type of weight and total number.
Season 3 belongs to winter.

In [28]:
# Group by BMI categories and sum the absences
bmi_absences = df.groupby('BMI categories')['Absenteeism time in hours'].sum()

# Find the BMI category with the most absences
most_absent_bmi_category = bmi_absences.idxmax()

print(f'The BMI category with the most absences was {most_absent_bmi_category}')
print(bmi_absences)

The BMI category with the most absences was Normal weight
BMI categories
Normal weight    2738
Obese            1011
Overweight       1122
Underweight       253
Name: Absenteeism time in hours, dtype: int64

15.Find all words in a string that start with a vowel.
string = 'Apples are red, bananas are yellow, and oranges are orange.

In [29]:
import re

string = 'Apples are red, bananas are yellow, and oranges are orange.'

# Find all words that start with a vowel
vowel_words = re.findall(r'\b[aeiouAEIOU]\w+', string)

print(vowel_words)

['Apples', 'are', 'are', 'and', 'oranges', 'are', 'orange']

16.Replace all occurrences of the word "color" with "colour" in a string using regular expressions.
string = 'The color of the sky is blue.'

In [30]:
import re

string = 'The color of the sky is blue.'

# Replace "color" with "colour" using regular expression
updated_string = re.sub(r'\bcolor\b', 'colour', string)

print(updated_string)

The colour of the sky is blue.

17.Extract all email addresses from a string and print them to the console.
string = 'Please contact us at support@example.com for assistance or info@example.com for more information.'

In [31]:
import re

string = 'Please contact us at support@example.com for assistance or info@example.com for more information.'

# Regular expression pattern to match email addresses
pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

# Extract email addresses using regular expression
emails = re.findall(pattern, string)

for email in emails:
    print(email)

support@example.com
info@example.com

18.Validate a US phone number using regular expressions. The phone number should be in the format "XXX-XXX-XXXX" (where X is a digit).
phone_number = '123-456-7890'

In [32]:
import re

phone_number = '123-456-7890'

# Regular expression pattern to match US phone numbers in the format XXX-XXX-XXXX
pattern = r'^\d{3}-\d{3}-\d{4}$'

if re.match(pattern, phone_number):
    print('Valid phone number')
else:
    print('Invalid phone number')

Valid phone number

19.Parse a string of comma-separated key-value pairs and create a dictionary from them.
string = 'key1=value1,key2=value2,key3=value3'

In [33]:
string = 'key1=value1,key2=value2,key3=value3'

# Split the string into key-value pairs using comma as the delimiter
pairs = string.split(',')

# Create a dictionary from the key-value pairs
dictionary = {}
for pair in pairs:
    key, value = pair.split('=')
    dictionary[key] = value

print(dictionary)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

20.Convert a string representing a date and time to a datetime object and print it to the console.
date_string = '2023-03-24 16:30:00'

In [34]:
from datetime import datetime

date_string = '2023-03-24 16:30:00'
datetime_object = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')

print(datetime_object)

2023-03-24 16:30:00

21.Calculate the time difference between two datetime objects in hours and minutes and print it to the console.
start_time = datetime(2023, 3, 24, 16, 30, 0), end_time = datetime(2023, 3, 24, 18, 45, 0)

In [35]:
from datetime import datetime

start_time = datetime(2023, 3, 24, 16, 30, 0)
end_time = datetime(2023, 3, 24, 18, 45, 0)

# Calculate time difference
time_difference = end_time - start_time

# Calculate hours and minutes
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds // 60) % 60

print(f'The time difference between {start_time} and {end_time} is {hours} hours and {minutes} minutes.')

The time difference between 2023-03-24 16:30:00 and 2023-03-24 18:45:00 is 2 hours and 15 minutes.